.body-conatiner {
    width: auto;
    height: auto;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-color: #1a1a1a;
    color: #d3d3d3;
    padding: 20px 0;
    width: 100%;
    /* Ensure full width */
    position: relative;
    bottom: 0;
    left: 0;
    /* Align to the left edge */
    top: 0;
}
.admin-username{
    width: 50%;
    margin-right: 10px;
    
}
.admin-password{

}