.carousel-container {
    position: relative;
    width: 100%; /* Adjust as needed */
    overflow: hidden; /* Hide overflow for smooth transitions */
    height: 400px; /* Set a fixed height for your carousel */
}

.carousel-image {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Smooth transition for slide change */
    width: 100%; /* Ensure the container takes full width */
}

.carousel-image img {
    max-width: 100%;
    width: 100%; /* Make images responsive */
    height: 100%; /* Set fixed height or auto for aspect ratio */
    flex-shrink: 0; /* Prevent shrinking */
    object-fit: cover; /* Cover the container while keeping aspect ratio */
}

/* Arrow styles */
.left-arrow, .right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1; /* Ensure arrows are above images */
}

.left-arrow {
    left: 10px; /* Adjust as needed */
}

.right-arrow {
    right: 10px; /* Adjust as needed */
}
