.container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* height: 0.1rem; */
    width: 100%;
    margin-top:15rem;
}


/* .body-container{
    margin-top: 1rem;
} */


/* .container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
      /* Full viewport height 
} */
